body {
  background-color: lightblue;
  text-align: center;
}
h1 {
  color: white;
}
P {
  font-family: Verdana;
  font-size: 20px;
}
li:hover {
  background-color: red;
}
P1 {
  font-family: Verdana;
  font-size: 20px;
}